<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Title Data Science Tools and Ecosystems in H1 style heading

In [ ]:
# Data Science Tools and Ecosystems

# Data Science Tools and Ecosystems

Introduction about notebook

In [ ]:
## In this notebook, Data Science Tools and Ecosystems are summarised

## In this notebook, Data Science Tools and Ecosystems are summarised

List of Data Science Languages

In [ ]:
## Some of the popular languages Data Scientists use are:
1. Python 
2. R Languages
3. Scala 
4. Julia 
5. SQL

## Some of the popular languages Data Scientists use are:
1. Python 
2. R Languages
3. Scala 
4. Julia 
5. SQL

List of Data Science Libraries

In [ ]:
## Some of the commonly used Libraries used by Data Scientist Include
1. Vegas
2. Ggplot
3. NumPy
4. Pandas

## Some of the commonly used Libraries used by Data Scientist Include
1. Vegas
2. Ggplot
3. NumPy
4. Pandas

Table of Data Science Tools

In [ ]:
|Data Science Tools|
--------------------
|Jupyter|
|Apache Airflow|
|Watson Open Scale|
|Data Refinery|

|Data Science Tools|
--------------------
|Jupyter|
|Apache Airflow|
|Watson Open Scale|
|Data Refinery|

Introducing Arithmetic Expression in H3 style heading

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

Multiply and Add numbers

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

In [ ]:
Convert minutes to hours

In [ ]:
The following is the converstion of 200 minutes to hours

In [2]:
200/60

3.3333333333333335

list of objectives

In [ ]:
**Objectives:**
- Introduction about notebook
- List of Data Science Languages
- List of Data Science Libraries
- Table of Data Science Tools
- Multiply and Add numbers
- Convert minutes to hours

**Objectives:**
- Introduction about notebook
- List of Data Science Languages
- List of Data Science Libraries
- Table of Data Science Tools
- Multiply and Add numbers
- Convert minutes to hours

Author in H2 style heading

In [ ]:
## Author
Emilia Maria Shaju

## Author
Emilia Maria Shaju